<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

My Jupyter Notebook on IBM Watson Studio

**Name: Darrell Samuel Alex**
<br>Current Occupation: GIS Executive
<br>Desired Occupation: Data Scientist

*I am interested in data science because I enjoyed problem solving.*

### Cell 5 will show one of the basic operation of arithmetic

In [5]:
1+1

2

Three or more...

---

Hyphens

***

Asterisks

___

Underscores

* This is a  Bulleted list
1. This is a numbered list
| Name        | Age           | Occupation  |
| ----------- |:-------------:| -----------:|
| Hamilton    | 40            | Engineer    |
| Sam         | 50            | Engineer    |
| William     | 59            | Manager     |

[Markdown in Jupyter Notebook tutorial](https://www.datacamp.com/tutorial/markdown-in-jupyter-notebook)

<img src="https://media.giphy.com/media/El9JKansAx2bdrfW6j/giphy.gif" alt="American Football" title="American Football" />

This is a `code`.

```python
s = "Python syntax highlighting"
print s
```

> This line is part of a blockquotes

Quote break.

> Another line of blockquotes

~~Scratch this~~